.example::-webkit-scrollbar {
  display: none;
}

html {
  object-fit: scale-down;
  background-color: black;
  background-image: url("../images/circle_motion.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

html, body {
  margin: 0;
  height: 96%;
}


body {
  position: relative;
  background-color: black;
  border: 2px solid white;
  margin: 40px;
  object-fit: fill;
  opacity: 0.8;
}

.name {
  color: white;
  margin-left: 30px;
  font-family: 'Russo One', sans-serif;
  font-size: 62px;
  margin-bottom: .1px;
}

.des {
  color: white;
  margin-left: 30px;
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  padding-top: none;
}

.about {
  color: white;
  margin-left: 30px;
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  padding-top: none;
  max-width: 400px;
}

.aboutmepho {
  max-width: 100%;
}

.aboutmephobox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    max-width: 500px;
    max-height: 2000px;
    margin-right: 28px;

}

.sidenav {
  color: white;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 50;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  max-height: 100px;
}

.sidenav a:hover {
  color: #e6ffd4;
}

.sidenav .closebtn {
  color: white;
  position: absolute;
  top: 35px;
  right: .01px;
  font-size: 36px;
  margin-left: 50px;
}

.box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    max-width: 500px;
    max-height: 2000px;
    margin-right: 28px;

}

.quote {
    color:white;
    font-family: 'Russo One', sans-serif;

}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 20px 2px;
}

.fa-facebook {
  background: #ffffff;
;
  color: rgb(0, 0, 0);
}

.fa-instagram {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-linkedin {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-envelope {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.contactlinks {
  padding-left: 60px;
}



resImg {
  border:1px solid black;
  width:400px;
  height:40px;
  overflow:scroll;
}


/* 
*,*:before,*:after {
  box-sizing:inherit;
  -webkit-user-select:inherit;
  user-select:inherit;
  -webkit-user-drag:inherit;
  -webkit-tap-highlight-color:inherit;
  backface-visibility:inherit
}

* {
  margin:0;
  padding:0
}

html {
  line-height:1;
  box-sizing:border-box;
  -webkit-user-select:none;
  user-select:none;-webkit-user-drag:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}

main,canvas {
  display:block
}

h1,h2,h3,h4,h5,h6 {
  font-weight:inherit;
  font-size:inherit
}

a {color:inherit;
  text-decoration:none
}

ol,ul {
  list-style:none
}

:root {
  --c-bg: hsl(0, 0%, 90%);
  --c-text: hsl(0, 0%, 10%);
  --pad: max(20px, 4vmin)
}

@media(prefers-color-scheme: dark) {
  :root{--c-bg: hsl(0, 0%, 5%);
    --c-text: hsl(0, 0%, 95%)}
  }
  
@font-face {
  font-family:"Neue Montreal";
  font-weight:200;src:url("/assets/font/PPNeueMontreal-Thin.woff2") 
  format("woff2")
}

@font-face {
  font-family:"Neue Montreal";
  font-weight:400;src:url("/assets/font/PPNeueMontreal-Book.woff2") 
  format("woff2")
}

@font-face {
  font-family:"Neue Montreal";
  font-weight:600;src:url("/assets/font/PPNeueMontreal-SemiBold.woff2") 
  format("woff2")
}

html,body {
  height:100%
}

body {
  background-color:var(--c-bg);
  font-family:"Neue Montreal";
  font-weight:600;
  font-size:14px;
  font-feature-settings:"palt";
  -webkit-text-size-adjust:none;
  text-size-adjust:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  overscroll-behavior:none
}

#Page {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  background-color:var(--c-bg);
  color:#fff;
  white-space:nowrap;
  transition-property:background-color;
  transition-duration:.9s;
  transition-timing-function:cubic-bezier(0.1, 0.4, 0.2, 1)
}

#EnterView {
  position:fixed;
  z-index:9999;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  will-change:opacity;
  background-color:var(--c-bg);
  color:var(--c-text);
  display:flex;
  justify-content:center;
  align-items:center;
  column-gap:.5em;
  font-size:30px
}

#EnterView ._t1 {
  font-weight:400
}

#EnterView ._t2 {
  font-weight:200
}

#Background {
  position:fixed;
  z-index:1;
  left:var(--pad);
  right:var(--pad);
  top:var(--pad);
  bottom:var(--pad);
  pointer-events:none;
  overflow:hidden
}

.mask {
  position:fixed;
  z-index:3;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  pointer-events:none
}

.mask_top,.mask_bottom {
  position:absolute;
  left:0;
  width:100%;
  height:var(--pad);
  background-color:var(--c-bg);
  transition-property:background-color;
  transition-duration:.9s;
  transition-timing-function:cubic-bezier(0.1, 0.4, 0.2, 1);
  opacity:.9
}

.mask_top {
  top:0
}

.mask_bottom {
  bottom:0
}

.frame {
  position:fixed;
  z-index:10;
  left:var(--pad);
  right:var(--pad);
  top:var(--pad);
  bottom:var(--pad);
  mix-blend-mode:difference;
  pointer-events:none
}

.frame_line {
  position:absolute;
  background-color:#fff;
  opacity:.5
}

.frame_line-left {
  left:0;
  top:0;
  width:1px;
  height:100%
}

.frame_line-right {
  right:0;
  top:0;
  width:1px;
  height:100%
}

.frame_line-top {
  left:0;
  top:0;
  width:100%;
  height:1px
}

.frame_line-bottom {
  left:0;
  bottom:0;
  width:100%;
  height:1px
}

.theme {
  position:fixed;
  z-index:10;
  left:calc(var(--pad) - .15em);
  bottom:var(--pad);
  transform-origin:left bottom;
  transform:rotate(-90deg);
  white-space:nowrap;
  mix-blend-mode:difference;
  display:flex;
  column-gap:15px;
  cursor:pointer
}

.theme_color {
  display:flex;
  column-gap:3px;
  font-weight:400;
  text-transform:uppercase;
  pointer-events:none
}

.theme_color ._box::before {
  content:"□"
}

.theme_color.is-selected ._box::before {
  content:"■"
}

.content {
  position:fixed;
  z-index:2;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  mix-blend-mode:difference
}

.content_inner {
  position:relative;
  min-height:100%
}

.text-btn {
  transition-property:opacity;
  transition-duration:.4s;
  transition-timing-function:cubic-bezier(0.1, 0.4, 0.2, 1)
}

@media(hover: hover) {
  .text-btn:hover{opacity:.25}
}

.siteHeader {
  position:fixed;
  z-index:10;
  left:calc(var(--pad)*2);
  top:calc(var(--pad)*2);
  mix-blend-mode:difference
}

.siteHeader_title {
  margin:-0.1em 0 0 -0.04em;
  font-weight:200;
  font-size:30px
}

@media(min-width: 1280px) {
  .siteHeader_title{font-size:60px}
}

.siteHeader_label {
  margin-top:5px;
  font-weight:400
}

.siteHeader_nav {
  margin-top:50px
}

.siteHeader_nav ol {
  display:flex;
  flex-direction:column;
  row-gap:15px
}

.siteHeader_nav ol li {
  position:relative
}

.siteHeader_nav ol li ._dot {
  position:absolute;
  left:0;
  top:2px;
  font-size:10px;
  opacity:0;
  pointer-events:none;
  transition-property:opacity;
  transition-duration:.4s;
  transition-timing-function:cubic-bezier(0.1, 0.4, 0.2, 1)
}

.siteHeader_nav ol li ._text {
  position:relative;
  transition-property:opacity;
  transition-duration:.4s;
  transition-timing-function:cubic-bezier(0.1, 0.4, 0.2, 1)
}

.siteHeader_nav ol li ._text::before {
  content:"";
  display:block;
  position:absolute;
  left:-5px;
  top:-5px;
  width:calc(100% + 10px);
  height:calc(100% + 10px)
}

@media(hover: hover) {
  .siteHeader_nav ol li ._text:hover{opacity:.25}
}

.siteHeader_nav ol li.is-selected {
  pointer-events:none
}

.siteHeader_nav ol li.is-selected ._dot {
  opacity:1
}

.siteHeader_nav ol li.is-selected ._text {
  opacity:0
}

.page {
  display:none;
  width:100%;
  min-height:calc(var(--vh, 1vh)*100)
}

.page.is-leaving {
  position:absolute;
  left:0;
  top:0
}

.home {
  position:absolute;
  right:calc(var(--pad)*2);
  bottom:calc(var(--pad)*2);
  white-space:nowrap
}

.home_aboutme {
  line-height:1.5
}

.home_aboutme span {
  display:block
}

.project {
  padding:calc(var(--pad)*2 + 96px) calc(var(--pad)*2);
  text-align:right;
  white-space:nowrap
}

@media(min-width: 1280px) {
  .project{padding:calc(var(--pad)*2 + 125px) calc(var(--pad)*2)}
}

.project_section+.project_sectio {
  margin-top:100px
}

.project_heading {
  font-weight:400
}

.project_list {
  margin-top:50px
}

.project_list {
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  row-gap:15px
}

@media(min-width: 1280px) {
  .project_item{display:flex;
    flex-direction:row-reverse;
    justify-content:flex-start;
    align-items:baseline;
    column-gap:15px}
  }
  
.project_title {
  font-weight:200;
  font-size:30px;
  text-align:right
}

@media(min-width: 1280px) {
  .project_title{font-size:60px}
} 

.project_info {
  margin-top:5px
}

@media(min-width: 1280px) {
  .project_info{margin-top:0}
}

.info {
  position:absolute;
  left:calc(var(--pad)*2);
  bottom:calc(var(--pad)*2);
  white-space:nowrap
}

@media(min-width: 1280px) {
  .info{position:relative;
    left:auto;bottom:auto;
    height:calc(var(--vh, 1vh)*100)}
  } 

@media(min-width: 1280px) {
  .info_item{position:absolute}
}

.info_item+.info_item {
  margin-top:50px
}

@media(min-width: 1280px) {
  .info_item+.info_item{margin-top:0}
}

@media(min-width: 1280px) {
  .info_item-1{left:55%;
    top:calc(50% - 19px)}
  }
  
@media(min-width: 1280px) {
  .info_item-2{right:calc(var(--pad)*2);
    top:calc(var(--pad)*2)}
  }
  
@media(min-width: 1280px) {
  .info_item-3{right:calc(var(--pad)*2);
    bottom:calc(var(--pad)*2)}
  }
  
  .info_content {
    line-height:1.5
  }
  
  .info_content .is-light {
    font-weight:400
  }
  
  .contact {
    position:absolute;
    right:calc(var(--pad)*2);
    bottom:calc(var(--pad)*2);
    white-space:nowrap
  }
  
  @media(min-width: 1280px) {
    .contact_wrap{display:flex;
      align-items:baseline;
      column-gap:100px}
    }
    
    .contact_text {
      font-family:"Hiragino Sans",Meiryo,sans-serif;
      font-weight:500
    }
    
    .contact_forPeopleOverseas {
      margin-top:100px;
      line-height:1.5
    }
    
    @media(min-width: 1280px) {
      .contact_forPeopleOverseas{margin-top:0}
    } */
/*# sourceMappingURL=style.css.map */











/* html {
  max-width: 100%;
  max-height: 100%;
}

body {
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px 1px;
  float: right;
}

.fa-facebook {
  background: #465529;
;
  color: white;
}

.fa-instagram {
  background: #465529;
  color: white;
}

.fa-linkedin {
  background: #465529;
  color: white;
}


.fullscreen {
  width: 100%;
  height: 100%;
  text-align: center;
  align-self: center;
  align-self: flex;
  opacity: 0.7;
  background-color: #A4A286;
  float: left;
}

ul li {
  list-style: none;
  display: inline;
}

ul li a {
  padding: 10px;
  font-family: 'Russo One', sans-serif;
  font-size: 2em;
  text-decoration: none;
  /* text-transform: uppercase;
  color: #fefefe;
  justify-content: center;
}


.nav {
  color: black;
  background-color: #583922;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  
}
.nav a {
  padding: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
}

.container {
  position: relative;
}

.tag {
  float: center;
  position: center;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: #A4A286;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-family: 'Russo One', sans-serif;
}


.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.speaker {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; 

} */