.example::-webkit-scrollbar {
  display: none;
}

html {
  object-fit: scale-down;
  background-color: black;
  background-image: url("../images/circle_motion.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

html,
body {
  margin: 0;
  height: 96%;
}

body {
  position: relative;
  background-color: black;
  border: 2px solid white;
  margin: 40px;
  object-fit: fill;
  opacity: 0.8;
}

.name {
  color: white;
  margin-left: 30px;
  font-family: "Russo One", sans-serif;
  font-size: 62px;
  margin-bottom: 0.1px;
}

.des {
  color: white;
  margin-left: 30px;
  font-family: "Russo One", sans-serif;
  font-size: 16px;
  padding-top: none;
}

.about {
  color: white;
  margin-left: 30px;
  font-family: "Russo One", sans-serif;
  font-size: 16px;
  padding-top: none;
  max-width: 400px;
}

.aboutmepho {
  max-width: 100%;
}

.aboutmephobox {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  max-width: 500px;
  max-height: 2000px;
  margin-right: 28px;
}

.sidenav {
  color: white;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 50;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Russo One", sans-serif;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  max-height: 100px;
}

.sidenav a:hover {
  color: #e6ffd4;
}

.sidenav .closebtn {
  color: white;
  position: absolute;
  top: 35px;
  right: 0.01px;
  font-size: 36px;
  margin-left: 50px;
}

.box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  max-width: 500px;
  max-height: 2000px;
  margin-right: 28px;
}

.quote {
  color: white;
  font-family: "Russo One", sans-serif;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 20px 2px;
}

.fa-facebook {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-instagram {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-linkedin {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-envelope {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.contactlinks {
  padding-left: 60px;
}

resImg {
  border: 1px solid black;
  width: 400px;
  height: 40px;
  overflow: scroll;
}
